<?xml version="1.0" encoding="utf-8"?>
<!--
  This is a very important file.
  This file makes sure that the packages nuget resolves are not
  automatically added to source control.

  Also, we have our local feed defined in here.

  We need to make sure we don't delete it.
-->
<configuration>
  <packageSources>
    <add key="KCL NuGet Feed" value="https://www.ikclife.com/KCLNuGetFeed/nuget" />
    <add key="default" value="https://www.nuget.org/api/v2"/>
  </packageSources>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
</configuration>